<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hotel LANGA</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head> 
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HOTEL_LANGA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li>@Html.ActionLink("Início", "Index", "Home")</li> -->
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Gestao de Funcionarios", "Index", "Funcionarios")</li>

                </ul>
               
               @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer">
            <div>
                <h4>Hote_LANGA NOSSOS COTACTOS</h4>
                <p>cell: +258 849910101</p>
                <p>email: hotel@langa.com</p>
                <p>facebook: <a href="facebook.com/hotel">hotelLanga</a></p>
                <p>-----------------------------------------------------</p>
            </div>
            <hr />
            <div>
                <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
                <p>desenvolvido por: <a href="https://github.com/JLB-101">Juliao LB</a></p>
                <p>email:juliaolangassitela@gmail.com </p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
